body {
    background-color: olive;
  }

h1 {
    color: ivory;
}

label {
    color: ivory;
}

button {
    color: ivory;
    background-color: olive;
}

nav {
    color: ivory;
}

.explenation {
    font-size: 0,5px;
}

.flash {
    opacity: 0;
    animation: dissapear 3s;
}

@keyframes disappear {
    0% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: hidden;
    }
}