body {
    background-color: olive;
  }

h1 {
    color: ivory;
}

label {
    color: ivory;
}

button {
    color: ivory;
    background-color: olive;
}

nav {
    color: ivory;
}

.explenation {
    font-size: 0,5px;
}